{%  if item.item_kind == 'separator' %}
<li class="divider-vertical"></li>
{%  elif item.item_kind == 'link' %}
<li class="{{ class_prefix|default:'menu-item' }}-{{ item.name|slugify }}
    {% if item.name == selected %}active{% endif %}">
    <a href="{{ item.get_href }}">
        {% if item.kwargs.fugue_icon %}
            <i class="fugue-icon {{ item.kwargs.fugue_icon }}"></i>
        {% elif item.kwargs.icon %}
            <i class="icon-{{ item.kwargs.icon }} icon-white"></i>
        {% endif %}
        {{ item.label }}
    </a>
</li>
{%  endif %}
