{% load djid %}
<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" media="screen" href="/static/css/ui.jqgrid.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/static/jquery-ui-1.11.1/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/static/plugins/ui.multiselect.css" />
		 
		<script type="text/javascript" src="/static/js/require.js"></script>
        <!-- <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script> -->
        <!-- <script type="text/javascript" src="/static/jquery-ui-1.11.1/jquery-ui.min.js"></script> -->
        <!-- <script type="text/javascript" src="/static/js/i18n/grid.locale-pl.js"></script> -->
        <!-- <script type="text/javascript" src="/static/plugins/ui.multiselect.js"></script> -->
        <!-- <script type="text/javascript" src="/static/js/jquery.jqGrid.min.js"></script> -->
        <!-- <script type="text/javascript" src="/static/js/mustache.js"></script> -->
        <!-- <script type="text/javascript" src="/static/djid.js"></script> -->
        <script type="text/javascript">
        requirejs.config({
            baseUrl: '/static/',
            paths: {
                'jquery': 'js/jquery',
                'jquery-ui': 'jquery-ui-1.11.1/jquery-ui.min',
                'djid': 'js/djid',
                'mustache': 'js/mustache',
                'ui.multiselect': 'plugins/ui.multiselect',
                'jqGrid': 'js/jquery.jqGrid.min',
                'jqGrid-locale': '/static/js/i18n/grid.locale-pl'
            },
            shim: {
                'ui.multiselect.js': {
                    'deps': [
                        'jquery',
                        'jquery-ui',
                        'jqGrid-locale'
                    ]
                }, 
                'jqGrid': {
                    'deps': [
                        'jquery',
                        'jquery-ui',
                        'ui.multiselect',
                        'jqGrid-locale'
                    ]
                },
                'jqGrid-locale': {
                    'deps': [
                        'jquery',
                        'jquery-ui'
                    ]
                },
            }
        });
        </script>
	</head>
	<body>
		{% djid params.djid %}
	</body>
</html>
