{% load djid %}
<!doctype html>
<html>
	<head>
		<!-- <link rel="stylesheet" type="text/css" media="screen" href="css/ui-lightness/jquery-ui-1.8.2.custom.css" /> -->
		<link rel="stylesheet" type="text/css" media="screen" href="/static/css/ui.jqgrid.css" />
		 
		<script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="/static/js/i18n/grid.locale-pl.js"></script>
		<script type="text/javascript" src="/static/js/jquery.jqGrid.min.js"></script>
	</head>
	<body>
		{% djid "persons" %}
	</body>
</html>

