{% load djid %}
<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" media="screen" href="/static/css/ui.jqgrid.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/static/jquery-ui-1.11.1/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/static/plugins/ui.multiselect.css" />
		 
		<script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="/static/jquery-ui-1.11.1/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/static/js/i18n/grid.locale-pl.js"></script>
		<script type="text/javascript" src="/static/plugins/ui.multiselect.js"></script>
		<script type="text/javascript" src="/static/js/jquery.jqGrid.min.js"></script>
	</head>
	<body>
		{% djid "persons" %}
	</body>
</html>

